.fa {
    padding: 10px;
    font-size: 30px!important;
    height: 50px;
    width: 50px!important;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  
  
  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  
  .fa-instagram {
    background: #125688;
    color: white;
  }
    mat-horizontal-stepper{
      background-color: transparent;
    }
    .mat-stroked-button{
      border-radius: 0;
    }
    .highlight{
      color:#f44336;
      font-weight: bold;
    }
    .subtitle{
      font-size: 0.6em;
    }
    button{
      margin-right: 5px;
    }
    .button-inactive{
      background-color: ghostwhite;
      color: grey;
      font-weight: bold;
    }
    
    .button-active{
      font-weight: bold;
      background-color: #f44336;
      color : white;
    }
    .form-title{
      margin-top: 5px;
      margin-bottom: 5px; 
    }
    .full-width {
    width: 100%;
  }
    sup{
      color: red;
    }
    .heading{
      font-size: 1.2em;
      font-weight: bold;
      text-transform:uppercase;
    }
    mat-card-content{
      height: 100%;
      margin:auto;
      padding: auto;
    }
    mat-card{
      width: 100%;
      padding: auto;
      height: 100%;
      margin:auto;
    }
    .col-md-2{
      margin-bottom: 20px!important; 
    }
    .col-md-10{
      margin-bottom: 20px!important; 
    }
    .info mat-card{
      border-top: 4px orange solid;
    }
    .bg{
      min-height: 80vh;
      background: url('/assets/bg.jpg') no-repeat center;
      background-size: 100% 40%;
      background-position: top center;
    }
    /deep/ body{
      background-color: whitesmoke!important; 
    }